*~
.DS_Store
node_modules
_book

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# local env files
1book.1.json1
2book.2.json1
yarn.lock
package-lock.json